[Unit]
Description=LeilFS chunkserver daemon
Documentation=man:leil-chunkserver(8) man:leil-chunkserver.cfg(5) man:leil-hdd.cfg(5)
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/sbin/leil-chunkserver start
ExecStop=/usr/sbin/leil-chunkserver stop
ExecReload=/usr/sbin/leil-chunkserver reload
Restart=on-abort

[Install]
WantedBy=multi-user.target
