[Unit]
Description=LeilFS master server daemon
Documentation=man:sfsmaster(8) man:sfsgoals.cfg(5) man:sfsmaster.cfg(5) man:sfsglobaliolimits.cfg(5) man:saunafs(7) man:sfsmaster(8) man:sfsmetadump(8) man:sfsrestoremaster(8)
After=network-online.target

[Service]
Type=forking
TimeoutSec=0
ExecStart=/usr/sbin/sfsmaster start
ExecStop=/usr/sbin/sfsmaster stop
ExecReload=/usr/sbin/sfsmaster reload
Restart=no

[Install]
WantedBy=multi-user.target
