[Unit]
Description=LeilFS metalogger server daemon
Documentation=man:leil-metalogger(8) man:leil-metalogger.cfg(5)
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/sbin/leil-metalogger start
ExecStop=/usr/sbin/leil-metalogger stop
ExecReload=/usr/sbin/leil-metalogger reload
Restart=on-abort

[Install]
WantedBy=multi-user.target
