[Unit]
Description=LeilFS chunkserver daemon
Documentation=man:sfschunkserver(8) man:sfschunkserver.cfg(5) man:sfshdd.cfg(5)
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/sbin/sfschunkserver start
ExecStop=/usr/sbin/sfschunkserver stop
ExecReload=/usr/sbin/sfschunkserver reload
Restart=on-abort

[Install]
WantedBy=multi-user.target
